.infoWindow {
    color: #000;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px 10px 5px;
    width: 260px;
    max-width: 100%;
}

.infoWindow img {
    display: block;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    object-fit: cover;
    width: 100%;
    max-width: 200px;
}

.infoWindow h2 {
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.infoWindow p {
    font-size: 14px;
    margin: 0;
    text-align: center;
    opacity: 0.75;
    line-height: 20px;
    margin: 0 0 5px 0;
    text-align: left;
}

.infoWindow h2 span {
    background: rgb(202 238 201);
    font-weight: 600;
    border-radius: 100px;
    padding: 5px 8px;
    font-size: 10px;
    margin-top: 6px;
    vertical-align: top;
    margin-left: 5px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    bottom: -5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.buttons button {
    width: 47%;
    text-align: center;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    background: #d6d6d6;
    color: #fff;
    cursor: pointer;
}

.functional {
    background-color: #65dc5f!important;
}

.notFunctional {
    background-color: #fd2045!important;
}